:8080

root * /app/src
file_server
reverse_proxy /api/* {$WALLY_BACKEND_SERVICE}:8000
reverse_proxy /docs {$WALLY_BACKEND_SERVICE}:8000
reverse_proxy /files/* minio:9000 {
    header X-Forwarded-Proto {scheme}
    header X-Forwarded-Host {host}
    header Host {host}
}
try_files {path} /index.html
