name: Vue unit tests and lint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run tests
      run: |
        cd frontend
        npm ci
        npm run test:unit
    - name: Run lint
      run: |
        cd frontend
        npm run lint
      env:
        CI: true
